html,
body
{
    background: #EAF1FB;
    font-family: sans-serif;
    font-size: 11px;
    color: #000;
}

h1
{
    font-size: 14px;
}

.content
{
    float: left;
    margin-left: 30px;
}

.loremImg
{
    float: left;
}

p
{
    margin: 7px 0 0 0;
    padding: 0;
    width: 600px;
}