.form_container
{
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
}

.game_field
{
    width: 450px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    background: white;
}

.game_field .elt
{
    position: absolute;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../img/game/car/1.png');
}

.un_clicked
{
    z-index: 999;
    width: inherit;
    height: inherit;
    display: none;
    position: absolute;
}

#reset
{
    border: 1px solid #bebebe;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 2px;
}

#reset:hover
{
    background: #bebebe;
    cursor: pointer;
}