          <div class="text_input_box select_month_box">
            <select name="month" id="month">
              <option value="jan">Jan</option>
              <option value="feb">Feb</option>
              <option value="mar">Mar</option>
              <option value="apr">Apr</option>
              <option value="may">May</option>
              <option value="jun">Jun</option>
              <option value="jul">Jul</option>
              <option value="aug">Aug</option>
              <option value="sep">Sep</option>
              <option value="nov">Nov</option>
              <option value="dec">Dec</option>
              <option value="Not Selected" selected="selected" hidden>Month:</option>
            </select>
          </div>
          <label for="month">Birthday:</label>
          <div class="clear"></div>
        </div>
        <div class="button_box">
          <p>Why do I need to provide this?</p>
          <div class="submit_button">
            <input type="submit" value=""/>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>