<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/form_styles.css" media="all" />
  </head>
  <body>
  <div class="form_container">
    <h4>Sign Up</h4>
    <p>It's free and always will be</p>
    <hr />
    <form action="save_data.php" method="post" enctype="application/x-www-form-urlencoded">
      <div class="form_line">
        <div class="text_input_box">
          <input type="text" name="first_name" id="first_name" required="required" />
        </div>
        <label for="first_name">First Name:</label>
        <div class="clear"></div>
      </div>
      <div class="form_line">
        <div class="text_input_box">
          <input type="text" name="last_name" id="last_name" required="required" />
        </div>
        <label for="last_name">Last Name:</label>
        <div class="clear"></div>
      </div>
      <div class="form_line">
        <div class="text_input_box">
          <input type="text" name="email" id="email" required="required" />
        </div>
        <label for="email">Your Email:</label>
        <div class="clear"></div>
      </div>
      <div class="form_line">
        <div class="text_input_box">
          <input type="text" name="re_email" id="re_email" required="required" />
        </div>
        <label for="re_email">Re-enter Email:</label>
        <div class="clear"></div>
      </div>
      <div class="form_line">
        <div class="text_input_box">
          <input type="password" name="password" id="password" required="required" />
        </div>
        <label for="password">New Password:</label>
        <div class="clear"></div>
      </div>
      <div class="form_line select_box">
        <div class="text_input_box select_sex_box">
          <select name="i_am" id="i_am">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="Not Selected" selected="selected" hidden>Select Sex:</option>
          </select>
        </div>
        <label for="i_am">I am:</label>
        <div class="clear"></div>
      </div>
      <div class="form_line select_box">