<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/form_styles.css" media="all" />
  </head>
  <body>
    <div class="form_container">
      <h4>Sign Up</h4>
      <p>It's free and always will be</p>
      <hr />
      <form action="res.php" method="post" enctype="application/x-www-form-urlencoded">
         <div class="form_line">
           <div class="text_input_box">
             <input type="text" name="first_name" id="first_name" />
           </div>
           <label for="first_name">First Name:</label>
           <div class="clear"></div>
         </div>
         <div class="form_line">
           <div class="text_input_box">
             <input type="text" name="last_name" id="last_name" />
           </div>
           <label for="last_name">Last Name:</label>
           <div class="clear"></div>
         </div>
         <div class="form_line">
           <div class="text_input_box">
             <input type="text" name="email" id="email" />
           </div>
           <label for="email">Your Email:</label>
           <div class="clear"></div>
         </div>
         <div class="form_line">
           <div class="text_input_box">
             <input type="text" name="re_email" id="re_email" />
           </div>
           <label for="re_email">Re-enter Email:</label>
           <div class="clear"></div>
         </div>
         <div class="form_line">
              <div class="text_input_box">
                  <input type="password" name="password" id="password" />
              </div>
              <label for="password">New Password:</label>
              <div class="clear"></div>
         </div>
         <div class="form_line select_box">
           <div class="text_input_box select_sex_box">
             <select name="i_am" id="i_am">
               <option value="male">Male</option>
               <option value="female">Female</option>
               <option value="Not Selected" selected="selected" hidden>Select Sex:</option>
             </select>
           </div>
           <label for="i_am">I am:</label>
           <div class="clear"></div>
         </div>
         <div class="form_line select_box">
           <div class="text_input_box select_year_box">
             <select name="year" id="year">
               <option value="male">Male</option>
               <option value="female">Female</option>
               <option value="Not Selected" selected="selected" hidden>Year:</option>
             </select>
           </div>
           <div class="text_input_box select_day_box">
             <select name="month" id="day">
               <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
               <option value="Not Selected" selected="selected" hidden>Day:</option>
             </select>
           </div>
           <div class="text_input_box select_month_box">
             <select name="month" id="month">
               <option value="jan">Jan</option>
               <option value="feb">Feb</option>
               <option value="mar">Mar</option>
               <option value="apr">Apr</option>
               <option value="may">May</option>
               <option value="jun">Jun</option>
               <option value="jul">Jul</option>
               <option value="aug">Aug</option>
               <option value="sep">Sep</option>
               <option value="nov">Nov</option>
               <option value="dec">Dec</option>
               <option value="Not Selected" selected="selected" hidden>Month:</option>
             </select>
           </div>
           <label for="month">Birthday:</label>
           <div class="clear"></div>
         </div>
         <div class="button_box">
           <p>Why do I need to provide this?</p>
           <div class="submit_button">
             <input type="submit" value=""/>
           </div>
         </div>
      </form>
    </div>
  </body>
</html>