.form_container
{
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
}

.game_field
{
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

.game_field .elt
{
    position: absolute;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../img/game/car/1.png');
}